@{
    ViewBag.Title = "Demo for jqgrid-asp.net-mvc (https://github.com/weiminye/jqgrid-asp.net-mvc)";
}
<table id="list"><tr><td></td></tr></table>
<div id="pager"></div>
@section CSSatHead{
    <link rel="stylesheet" type="text/css" media="screen" href="Content/ui.jqgrid.css" />
}
@section JSatHead{
    <script src="Scripts/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $("#list").jqGrid({
                url: "@Url.Action("IndexJsonList")",
                datatype: "json",
                mtype: "GET",
                colNames: [" ", "First Name", "Last Name", "City", "Zip", ""],
                colModel: [
                                    {
                                        name: 'myac', index: '', width: 80, fixed: true, sortable: false, resize: false, search: false,
                                        formatter: 'actions',
                                        formatoptions: {
                                            keys: true,

                                            //delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                                            //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                                        }
                                    },
                    { name: "FirstName", editable: true, editrules: { required: true }, formoptions: { elmsuffix: '*' } },
                    { name: "LastName", editable: true, editrules: { required: true }, formoptions: { elmsuffix: '*' } },
                    { name: "City", editable: true },
                    { name: "Zip", editable: true },
                    { name: "ID", key: true, hidden: true },

                ],
                pager: "#pager",
                rowNum: 10,
                rowList: [10, 20, 30],
                sortname: "invid",
                sortorder: "desc",
                viewrecords: true,
                gridview: true,
                autoencode: true,
                editurl: "@Url.Action("UpdateForJqGrid")",
                caption: "Demo for jqgrid-asp.net-mvc (https://github.com/weiminye/jqgrid-asp.net-mvc)"
            })
            .navGrid('#pager', { edit: false, add: true, del: false, search: false }, { id: 'ID' })
            .jqGrid('filterToolbar', { searchOperators: false, defaultSearch: true, stringResult: true })
            //.jqGrid('editGridRow', "new", { closeAfterAdd: true, closeOnEscape: true })
            ;
        });
    </script>
}